<section>
  <h1>Our spots!</h1>

  {{#each spots}}
    <section>
      {{#if this.image_url}}
        <img src="{{this.image_url}}" alt="{{this.name}}" />
      {{/if}}

      <h1>{{this.title}}</h1>
      <p>{{this.details}}</p>
      <p>{{this.rating}}</p>

    </section>

    <a href="/spots/{{this._id}}/spot-details">More details</a>
  {{/each}}

  <a href="/spots/create">Add a spot!</a>

</section>