<section>
  <h1>Our spots!</h1>

  {{#each spots}}
    <section>
      {{#if imageUrl}}
        <img src="{{imageUrl}}" alt="{{this.title}}" />
      {{else}}
        <img
          src="https://img.freepik.com/free-vector/cute-pug-dog-drink-coffee-cup-cartoon-animal-logo-coffee-illustration_295036-956.jpg"
          alt="no image"
        />
      {{/if}}

      <h1>{{this.title}}</h1>
      <p>{{this.details}}</p>
      <p>{{this.rating}}</p>

    </section>

    <a href="/spots/{{this._id}}/spot-details">More details</a>
  {{/each}}

  <a href="/spots/create">Add a spot!</a>

</section>