<h2>Edit your profile</h2>

<form
  action="/users/{{user._id}}/edit"
  method="post"
  enctype="multipart/form-data"
>

  <label>
    Name:
    <input type="text" name="name" value="{{user.name}}" />
  </label>
  <label>
    E-Mail:
    <input type="email" name="email" value="{{user.email}}" />
  </label>

  <label>
    Password:
    <input type="password" name="password" value="{{session.user.password}}" />
  </label>
  <label>
    Picture:
    <input type="file" name="userPicture" />
    <img src="{{user.imageUrl}}" />
  </label>

  <button type="submit">Save changes</button>
</form>