<h2>User profile</h2>

<section class="user-profile">
  <h2>Hello, {{user.name}}</h2>

  <hr />
  {{#if user.imageUrl}}
    <img class="myprofile-picture" src="{{user.imageUrl}}" alt="user picture" />
  {{else}}
    <img class="myprofile-picture"
      src="https://i.ebayimg.com/images/g/KIYAAOSwVblcbUkB/s-l400.jpg"
      alt="no image"
    />
  {{/if}}
  {{!-- <img src="{{user.imageUrl}}" alt="{{this.title}}" /> --}}

  <section class="my-spots">
    <h3>Spots created:</h3>
    <ul>
      {{#each spots}}
        <a href="/spots/{{this._id}}/spot-details"><li>{{this.title}}</li></a>
      {{/each}}
    </ul>
  </section>
  <hr />

  <section class="my-fav-spots">
    <h3>Spots I like:</h3>
    <ul>
      {{#each user.favoriteSpots}}
        <a href="/spots/{{this._id}}/spot-details"><li>{{this.title}}</li></a>
      {{/each}}
    </ul>
  </section>

  <button class="button-primary"><a href="/users/{{user._id}}/edit">Edit profile</a></button>

  <form action="/users/{{user._id}}/delete" method="POST">
    <button class="button-secondary">
      Delete profile
    </button>
  </form>

</section>