<div>

  {{#each spots}}
    <section>
      <img src="{{this.imageUrl}}" alt="{{this.title}}" />
      <h1>{{this.title}}</h1>
      <p>{{this.details}}</p>
      <p>{{this.rating}}</p>
      <a href="/spots/{{this._id}}/spot-details">More details</a>
    </section>

  {{/each}}

</div>