<div class="container spot-details">

  <div class="row align-items-start justify-content-between">
    <div class="col-md-6">
      <h1>{{title}}</h1>
      <h6>Posted by: 
      {{#if creator}}
        {{creator.name}}
        {{else}}
        unknown
        {{/if}}
        </h6>
      <br>
      <h4>Description:</h4>
      <p>{{description}}</p>
      <h4>Opening Hours:</h4>
         <p>{{openingHours}}</p>
      <h4>Price class:</h4>
         <p>{{averagePrice}}</p>
      <h4>Details:</h4>
      <ul>
        {{#each this.details}}
          <li class="checkbox">{{this}}</li>
        {{/each}}
      </ul>

<div class="button-section">
  <a href="/spots/{{this._id}}/edit" class="button-edit">Edit</a>
  <form action="/spots/{{_id}}/delete" method="post" style="display:inline">
    <button type="submit" class="button-delete">Delete</button>
  </form>
</div>
    </div>

    <div class="col-md-5 justify-flex-end">
           <div>
  <a href="/spots/{{this._id}}/favorite" class="button-like"> ♡ LIKE</a>
      </div>
      <br><br><br>
      {{#if imageUrl}}
        <img src="{{imageUrl}}" alt="{{this.title}}" class="img-spot-details"/>
      {{else}}
        <img
          src="https://img.freepik.com/free-vector/cute-pug-dog-drink-coffee-cup-cartoon-animal-logo-coffee-illustration_295036-956.jpg"
          alt="no image"
          class="img-spot-details"
        />
      {{/if}}

 <br><br>
  <script>
  var spotLocation =
  {{{this.location}}}; var spotTitle = '{{{this.title}}}';
</script>
<div id="map" class="map-spot-details">Location</div>

</div>
    </div>
  </div>
</div>



