<div class="main-content">
  <div class="spots-listing">
    <section>
      <h3>Find your favorite spot</h3>

 
      <div class="container">
        <div class="row">

          {{#each spots}}
            <div class="col-3">
              <div class="card h-100" style="width: 15rem;">

                {{#if imageUrl}}
                  <img
                    src="{{imageUrl}}"
                    class="img-spot-card"
                    alt="{{this.title}}"
                  />
                {{else}}
                  <img
                    src="https://img.freepik.com/free-vector/cute-pug-dog-drink-coffee-cup-cartoon-animal-logo-coffee-illustration_295036-956.jpg"
                    alt="no image"
                    class="img-spot-card"
                  />
                {{/if}}

                <div class="card-bod">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p
                    class="card-text"
                    style="height: 3rem;"
                  >{{this.description}}</p>
                  <a
                    href="/spots/{{this._id}}/spot-details"
                    class="btn button-card"
                  >See more</a>
                </div>
              </div>
            </div>
          {{/each}}

        </div>
      </div>
    </section>
  </div>
</div>
