<form action="/spots/{{spot._id}}/edit" method="post" class="form-card-create">
  <h3>Edit spot details</h3>

  <div class="form-content">
    <div class="input-field">
      <p>Name of spot</p>
      <input type="text" name="title" value="{{spot.title}}" />
    </div>

    <div class="input-field">
      <p>Opening hours</p>
      <input type="text" name="openingHours" value="{{spot.openingHours}}" />
    </div>

    <div class="select-field">
      <p>Price class:</p>
      <select name="averagePrice" class="select-field-content">
        <option value="€">€</option>
        <option value="€€">€€</option>
        <option value="€€€">€€€</option>
      </select>
    </div>

    <div class="select-field">
      <p>Details</p>

      {{#each spot.details}}
        {{#if this}}
          <div>
            <input
              type="checkbox"
              id={{this}}
              name="details"
              value="{{this}}"
              checked
            />
            <label for={{this}}>{{this}}</label>
          </div>
        {{/if}}
      {{/each}}

      {{#each details}}
        <div>
          <input type="checkbox" id={{this}} name="details" value="{{this}}" />
          <label for={{this}}>{{this}}</label>
        </div>
      {{/each}}

    </div>

    <div class="input-field">
      <p>Description</p>
      <textarea
        type="text"
        name="description"
        cols="30"
        rows="4"
        value="{{description}}"
      >{{spot.description}}</textarea>
    </div>
    <button type="submit" class="btn-green-main">Update spot</button>

    <div class="select-field">
      <p> Created by: {{session.user.name}}</p>
    </div>
  </div>
</form>