<form
  action="/spots/create"
  method="post"
  enctype="multipart/form-data"
  class="form-card-create"
>
  <h3>Add a new spot</h3>

  <div class="form-content">
    <div class="input-field">
      <p>Name of spot</p>
      <input
        type="text"
        name="title"
        placeholder="e.g. New York Café"
        required
      />
    </div>
    <div class="input-field">
      <p>Opening hours</p>
      <input type="text" name="openingHours" placeholder="e.g. 10:00 - 20:30" />
    </div>

    <div class="select-field">
      <p>Price class:</p>
      <select name="averagePrice" class="select-field-content">
        <option value="€">€</option>
        <option value="€€">€€</option>
        <option value="€€€">€€€</option>
      </select>
    </div>

    <div class="select-field">
      <p>Select details: </p>
      {{#each details}}
        <div>
          <input type="checkbox" id={{this}} name="details" value="{{this}}" />
          <label for={{this}}>{{this}}</label>
        </div>
      {{/each}}
    </div>

    <div class="input-field">
      <p>Short description</p>
      <textarea
        type="text"
        name="description"
        cols="30"
        rows="4"
        placeholder="Nice and friendly place ..."
      ></textarea>
    </div>

    <div class="input-field">
      <p>Upload an image</p>
      <input type="file" name="spotPicture" placeholder="upload picture" />
    </div>

    <div class="select-field">
      <p> Created by: {{session.user.name}}</p>
    </div>

    <div class="input-field">
      <p>Add the address</p>
      <input type="text" name="address" placeholder="address here" />
    </div>

    <button type="submit" class="btn-green-main">Add new spot</button>

  </div>
</form>