<h1>Spot-details</h1>

<section>
  {{#if imageUrl}}
    <img src="{{imageUrl}}" alt="{{this.title}}" />
  {{else}}
    <img
      src="https://img.freepik.com/free-vector/cute-pug-dog-drink-coffee-cup-cartoon-animal-logo-coffee-illustration_295036-956.jpg"
      alt="no image"
    />
  {{/if}}

  <h1>{{title}}</h1>
  {{#if details.vegan}}
  <li>Vegan</li> 
  {{/if }}
  {{#if details.vegetarian}}
  <li>Vegetarian</li> 
  {{/if }}
  {{#if details.glutenFree}}
  <li>Gluten-free</li> 
  {{/if }}
  {{#if details.petFriendly}}
  <li>Pet-friendly</li> 
  {{/if }}
  {{#if details.wifi}}
  <li>WiFi</li> 
  {{/if }}
  {{#if details.powerStations}}
  <li>Power stations</li> 
  {{/if }}
  {{#if details.workDesks}}
  <li>Work desks</li> 
  {{/if }}
  {{#if details.quiet}}
  <li>Quiet</li> 
  {{/if }}
  {{#if details.crowded}}
  <li>Crowded</li> 
  {{/if }}
  {{#if details.happyHour}}
  <li>Happy hour</li> 
  {{/if }}
  {{#if details.liveMusic}}
  <li>Live music</li> 
  {{/if }}

  <p>Description: {{description}}</p>
  <p>Created by: {{creator.name}}</p>
  <p>Rating: {{rating}}</p>
  <p>Address: {{address}}</p>
  <p>Average Price: {{averagePrice}}</p>
  <p>Opening Hours: {{openingHours}}</p>
  <br/>

  <a href="/spots/{{this._id}}/favorite">Like</a>
  <a href="/spots/{{this._id}}/edit">Edit</a>
  <form action="/spots/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>

</section>

<script>
  var spotLocation =
  {{{this.location}}}; var spotTitle = '{{{this.title}}}';
</script>

<div id="map" class="map">Location</div>