<h1>Spot-details</h1>

<section>
  {{#if imageUrl}}
    <img src="{{imageUrl}}" alt="{{this.title}}"  class="img-spot"/>
  {{else}}
    <img 
      src="https://img.freepik.com/free-vector/cute-pug-dog-drink-coffee-cup-cartoon-animal-logo-coffee-illustration_295036-956.jpg"
      alt="no image"
      class="img-spot"
    />
  {{/if}}

  <h1>{{title}}</h1>
  <ul>
  {{#each this.details}}
  <li class="checkbox">{{this}}</li> 
  {{/each}}
  </ul>

  <p>Description: {{description}}</p>
  <p>Created by: {{creator.name}}</p>
  <p>Rating: {{rating}}</p>
  <p>Address: {{address}}</p>
  <p>Average Price: {{averagePrice}}</p>
  <p>Opening Hours: {{openingHours}}</p>
  <br/>

  <a href="/spots/{{this._id}}/favorite">Like</a>
  <a href="/spots/{{this._id}}/edit">Edit</a>
  <form action="/spots/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>

</section>

<script>
  var spotLocation =
  {{{this.location}}}; var spotTitle = '{{{this.title}}}';
</script>

<div id="map" class="map">Location</div>