<h1>Spot-edit</h1>

<form action="/spots/{{spot._id}}/edit" method="post">
  <label>
    Title:
    <input type="text" name="title" value="{{spot.title}}" />
  </label>

    <div class="select-field">

    {{#each details}}
    <div>
      <input type="checkbox" id={{this}} name="details" value="{{this}}"  >
      <label for={{this}}>{{this}}</label>
    </div>
    {{/each}}

  <label>
    Description:
    <textarea name="description" cols="30" rows="4">{{spot.description}} </textarea>
  </label>

  <label>
    Rating:
    <input type="number" name="rating" min="1" max="5" value="{{spot.rating}}" />
  </label>
  <label>
    Address:
    <input type="text" name="address" value="{{spot.address}}" />
  </label>
  <label>
    Average price:
    <input type="number" name="averagePrice" value="{{spot.averagePrice}}" />
  </label>
  <label>
    Opening Hours:
    <input type="text" name="openingHours" value="{{spot.openingHours}}" />
  </label>

  <label> Created By: {{session.user.name}}

  <button type="submit"> Change </button>
</form>